html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}


.topheader {
    display: flex;
    justify-content: space-between;
}

.navigationmenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.container {
    background-image: url(/portifolio/image/canada\ pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.menuitem {
    color: black;
}

.logo{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;

}

.menuitemlink {
    text-decoration: none;
    color: #666666;
}

.menuitem:hover {
    background-color: #000000;
}

.intro {
    text-align: center;
    margin-top: 250px;
}

.header1 {
    font-size: 60px;
    margin: 0;
    line-height: 90px;
}

.header2 {
    font-size: 30px;
    margin: 0;
}